.content {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    gap: 29px;
}

.wrapper {
    width: 50%;
}

.photos {
    width: 50%;
    padding-right: 165px;
}

.title {
    padding-left: 219px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 80px 0px;
}

.modelName {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    color: #010C13;
}

.vin {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9AA7AD;
}

.info {
    padding-left: 219px;
}

.priceInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price {
    height: 82px;
    background: #F4F7F8;
    font-size: 32px;
    font-weight: 400;
    color: #CA0100;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-left: 40px;
}

.prove {
    height: 82px;
    background: #F4F7F8;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    gap: 20px;
    padding-left: 40px;
    align-items: center;
    border-radius: 12px;
}

.characteristics {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.characteristicsTitle {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    color: #010C13;
}

.details {
    background: #F4F7F8;
    padding: 60px 0 60px 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailItem {
    align-items: center;
    display: flex;
    gap: 40px;
    font-size: 28px;
    font-weight: 400;
    color: #010C13;
}

.purchase {
    background: linear-gradient(102.95deg, #00A8CD 62.03%, #047DBF 110.97%);
    height: 836px;
    position: relative;
    margin-top: 80px;
}

.purchaseInfo {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 230px;
    left: 195px;
}

.purchaseCreditTitle {
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
}

.purchaseCreditInfo {
    font-size: 28px;
    font-weight: 400;
    width: 477px;
    color: #FFFFFF;
}

.purchaseCreditConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #CA0100;
    border-radius: 8px;
    width: 440px;
    height: 80px;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}